<!DOCTYPE html>
<html>
  <head>
    <title>The Text Inbox</title>
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
    <link rel="shortcut icon" href="static/img/favicon.ico" />
    <script src="../../static/js/jquery-3.3.1.min.js"></script>
    <script src='../../static/js/socket.io.js'></script>
    <meta name="author" content="Deke Dotem">
    <meta name="keywords" content="TMA, The Morning After, InsideSTL, TheTextInbox, Doug Vaughn, Tim McKernan, Deke Dotem">
    <meta name="application-name" content="The Text Inbox">
    <meta name="description" content="Dynamic soundboard for The Morning After of Insidestl.com">
    <meta property="og:image" content="http://www.thetextinbox.com/static/img/textinbox.png">
    <meta property="og:url" content="http://www.thetextinbox.com/" />
    <meta property="og:description" content="The Morning After Text Inbox" />
    <meta property="og:title" content="The Text Inbox" />
    <meta property="og:site_name" content="The Text Inbox" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
      rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div id="main_container">
        {% block body %} {% endblock %}
    </div>
  </body>
  <script src='../../static/js/scripts.js'></script>
</html>
